body{
    background-color: #04796f;
}

h1{
    font-family: Impact, 'Haettenschweiler', Arial Narrow Bold, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 3em;
}

.container{
    width: 50%;
    height: 500px;
    background-color: #333;
    margin: 0 auto;
    color: aliceblue;
}

.box{
    width: 32%;
    height: 158px;
    background-color: #eee208;
    float: left;
    margin:4px;
}